body{
    background-color: #313131;
    /* height: 350vh; */
    overflow-x: hidden;
}

.background-img{
    background-image: url('media/processor.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 420vh;
    opacity: 0.1;
    position: absolute;
    z-index: -1;
}

section{
    padding-top: 90px;
    padding-left: 90px;
    padding-right: 90px;
}

.rotate {
    animation: rotation 0s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

textarea{
    background-color: #2C2C2C;
    opacity: 0.8;
    width: 400px;
    color: #fff;
    padding-left: 12px;
    padding-top: 12px;
    /* position: absolute; */
}

input{
    background-color: #2C2C2C;
    opacity: 0.8;
    width: 400px;
    color: #fff;
    padding-left: 12px;
    border: none;
    height: 45px;
}

label{
    color: #fff;
    opacity: 0.6;
}

.bttn{
    background: radial-gradient(circle, #F78D0B, #FC4C01 40px);
    border: none;
    color: #fff;
    height: 50px;
    width: 100px;
    border-radius: 50px;
}

button:hover{
    transform: scale(1.1);
    transition: ease-in 0.2s;
}

.top{
    display: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: red;
    transition: ease-in 0.2s;
}

.work-row:hover, .work-row2:hover, .work-row3:hover, .work-row4:hover{
    background-color: orange;
    cursor: pointer;
}

/* Tooltip */

.tooltipText1{
    position: absolute;
    left: 10%;
    top: -200%;
    visibility: hidden;
    background-color: rgba(44, 44, 44, 0.8);
    color: #fff;
    padding: 20px;
}

.tooltip1:hover .tooltipText1{
    visibility: visible;
}

.tooltipText2{
    position: absolute;
    left: 10%;
    top: -200%;
    visibility: hidden;
    background-color: rgba(44, 44, 44, 0.8);
    color: #fff;
    padding: 20px;
}

.tooltip2:hover .tooltipText2{
    visibility: visible;
}

.tooltipText3{
    position: absolute;
    left: 10%;
    top: -200%;
    visibility: hidden;
    background-color: rgba(44, 44, 44, 0.8);
    color: #fff;
    padding: 20px;
}

.tooltip3:hover .tooltipText3{
    visibility: visible;
}

.tooltipText4{
    position: absolute;
    left: 10%;
    top: -200%;
    visibility: hidden;
    background-color: rgba(44, 44, 44, 0.8);
    color: #fff;
    padding: 20px;
}

.tooltip4:hover .tooltipText4{
    visibility: visible;
}


/* Cpu */

.cpu_img{
    width: 50%;
}

/* Work list */

.work-list{
    background-color: rgba(44, 44, 44, 0.8);
    width: 250px;
    color: #fff;
    margin: auto;
}

.p-worklist{
    height: 25px;
    padding-left: 12px;
}

hr{
    width: 230px;
    padding-top: 2px;
    margin-left: 12px;
    border: none;
}

/* Chart */

.chartBox{
    width: 250px;
    height: 300px;
    background-color: rgba(44, 44, 44, 0.8);
    opacity: 0.8;
    margin: auto;
    padding: 12px;
}

.chartBoxBig{
    background-color: rgba(44, 44, 44, 0.8);
    opacity: 0.8;
    margin: auto;
    padding: 12px;
}

/* Egen css */

.center{
    text-align: center;
}

.capitalize{
    text-transform: capitalize;
}

.c-white{
    color: #fff;
}

.c-orange{
    color: #F78D0B;
}